node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.*
.DS_Store
*.log
.vscode
.idea
coverage
.nyc_output
.cache
*.swp
*.swo
*~
.npm
.eslintcache
*.tgz
.yarn-integrity
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions